import(BSgenome)
import(splines)
import(R.utils)
importFrom(dplyr,"%>%")
importFrom(rlang,.data)
importFrom(data.table,.N)
importFrom(S4Vectors,"mcols<-")
importFrom(S4Vectors,mcols)
importFrom(S4Vectors,queryHits)
importFrom(S4Vectors,subjectHits)
useDynLib(HiCDCPlus, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export(add.1D.features)
export(add.2D.features)
export(add.hic.counts)
export(add.hicpro.allvalidpairs.counts)
export(add.hicpro.matrix.counts)
export(construct.features)
export(expand.1D.features)
export(generate.binned.gi.list)
export(generate.bintolen.gi.list)
export(generate.df.gi.list)
export(get.chr.sizes)
export(get.chrs)
export(get.enzyme.cutsites)
export(gi.list.binsize.detect)
export(gi.list.Dthreshold.detect)
export(gi.list.validate)
export(gi.list.write)
export(hicdc2hic)
export(hicdcdiff)
export(HiCDCPlus)
export(straw)
export(HiCDCPlus.chr)
export(HiCDCPlus.parallel)
export(gi.list.read)
export(hic2icenorm.gi.list)
export(HTClist2gi.list)
export(gi.list2HTClist)
export(TopDom)
export(gi.list.topdom)
export(extract.hic.eigenvectors)
export(construct.features.chr)
export(construct.features.parallel)
export(straw.dump)