import(BSgenome)
import(splines)
import(R.utils)
importFrom(dplyr,"%>%")
importFrom(rlang,.data)
importFrom(data.table,.N)
importFrom(S4Vectors,"mcols<-")
importFrom(S4Vectors,mcols)
importFrom(S4Vectors,queryHits)
importFrom(S4Vectors,subjectHits)
importFrom(Rcpp, evalCpp)
useDynLib(HiCDCPlus, .registration=TRUE)
export(add_1D_features)
export(add_2D_features)
export(add_hic_counts)
export(add_hicpro_allvalidpairs_counts)
export(add_hicpro_matrix_counts)
export(construct_features)
export(expand_1D_features)
export(generate_binned_gi_list)
export(generate_bintolen_gi_list)
export(generate_df_gi_list)
export(get_chr_sizes)
export(get_chrs)
export(get_enzyme_cutsites)
export(gi_list_binsize_detect)
export(gi_list_Dthreshold.detect)
export(gi_list_validate)
export(gi_list_write)
export(hicdc2hic)
export(hicdcdiff)
export(HiCDCPlus)
export(straw)
export(HiCDCPlus_chr)
export(HiCDCPlus_parallel)
export(gi_list_read)
export(hic2icenorm_gi_list)
export(HTClist2gi_list)
export(gi_list2HTClist)
export(TopDom)
export(gi_list_topdom)
export(extract_hic_eigenvectors)
export(construct_features_chr)
export(construct_features_parallel)
export(straw_dump)